[Unit]
Description=Run Shiply Nginx Auto-Sync every minute
Requires=shiply-nginx-sync.service

[Timer]
OnCalendar=*:*:0/30
Persistent=true

[Install]
WantedBy=timers.target